<div class="sidebar">
  <div class="link" routerLink="all_partners" routerLinkActive="active-link" style="cursor: pointer;">All Partners</div>
  <div class="link" routerLink="all_customers" routerLinkActive="active-link" style="cursor: pointer;">All Customers</div>
  <div class="link" routerLink="system_statistics" routerLinkActive="active-link" style="cursor: pointer;">System Statistics</div>
  <div class="link" routerLink="all_reservations" routerLinkActive="active-link" style="cursor: pointer;">All Reservations</div>

</div>
